<li class='list-group-item'>
  <div class="d-flex flex-row">
    <div><%= link_to family.name, admin_family_path(family) %></div>
    <div class='ml-auto'>
      <div><%= link_to edit_admin_family_path(family) do %><i class="fas fa-pen"></i><% end %></div>
      <div><%= link_to admin_family_path(family), method: :delete, data: { confirm: "Are you sure?" } do %><i class="fas fa-trash"></i><% end %></div>
    </div>
  </div>
  <div class="d-flex flex-row">
    <div>
      <% if family.photo.attached? %> 
        <td class="text-center d-none d-lg-table-cell"><%= image_tag family.photo, class: "thumbnail" %></td>
      <% else %>
        <td class="text-center d-none d-lg-table-cell">none</td>
      <% end %>
    </div>
    <div><%= link_to family.message.content, admin_message_path(family.message) rescue "none" %></div>
  </div>
  <div class='d-flex flex-row'>
    <div><%= family.allergies %></div>
  </div>
  <div class="d-flex flex-row">
    <div><%= mail_to family.email %></div>
    <div><%= boolean_icon family.response %></div>
    <div><%= atteding_total_guests family %></div>
    <div><%= family.uuid %></div>
    <div></div>
  </div>
</li>
