<%= form_for [:admin, @item], html: { class: "needs-validation", novalidate: true } do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control", required: true, autocomplete: "off" %>
    <div class="invalid-feedback"></div>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control", autocomplete: "off" %>
    <div class="invalid-feedback"></div>
  </div>

  <div class="form-group">
    <%= f.label :photo %>
    <%= f.file_field :photo, class: "form-control", autocomplete: "off", style: "display:none", id: "real-input-field" %>
    <div class="input-group">
      <%= text_field_tag :visible_file_upload_field, nil, class: "form-control", autocomplete: "off", required: true %>
      <div class="input-group-append">
        <%= button_tag "Browse", class: "btn btn-secondary", type: "button", id: "browse-btn" %>
      </div>
    </div>
    <div class="invalid-feedback"></div>
  </div>

  <div class="form-group">
    <%= f.check_box :response %>
    <%= f.label :response %>
    <div class="invalid-feedback"></div>
  </div>

  <h2 class="text-center">Guests</h2>

  <%= f.fields_for :guests, @item.guests do |fg| %>
    <div class="form-group">
      <%= fg.label :name %>
      <%= fg.text_field :name, class: "form-control", required: true, autocomplete: "off" %>
      <div class="invalid-feedback"></div>
    </div>
    <div class="form-group">
      <%= fg.check_box :attending %>
      <%= fg.label :attending %>
      <div class="invalid-feedback"></div>
    </div>
    <div class="form-group">
      <%= fg.check_box :day_guest %>
      <%= fg.label :day_guest %>
      <div class="invalid-feedback"></div>
    </div>
    <div class="form-group">
      <%= fg.label :family %>
      <%= fg.collection_select :family_id, Family.all, :id, :name, {}, { class: "form-control", required: true } %>
      <div class="invalid-feedback"></div>
    </div>
  <% end %>

  <div class="form-group">
    <%= link_to "Back", admin_families_path, class: "btn btn-outline-secondary" %>
    <%= f.submit "Save", class: "btn btn-outline-primary float-right" %>
  </div>
<% end %>
