<%= form_for [:admin, @family], html: { class: "needs-validation", novalidate: true } do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control", required: true, autocomplete: "off" %>
    <div class="invalid-feedback"></div>
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control", autocomplete: "off" %>
    <div class="invalid-feedback"></div>
  </div>
  <div class="form-group">
    <%= f.check_box :response %>
    <%= f.label :response %>
    <div class="invalid-feedback"></div>
  </div>
  <%= link_to "Back", admin_families_path, class: "btn btn-outline-secondary" %>
  <%= f.submit "Save", class: "btn btn-outline-primary float-right" %>
<% end %>
