<%= form_for [:admin, @item], html: { class: "needs-validation", novalidate: true } do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control", required: true, autocomplete: "off" %>
    <div class="invalid-feedback"></div>
  </div>
  <div class="form-group">
    <%= f.check_box :attending %>
    <%= f.label :attending %>
    <div class="invalid-feedback"></div>
  </div>
  <div class="form-group">
    <%= f.check_box :day_guest %>
    <%= f.label :day_guest %>
    <div class="invalid-feedback"></div>
  </div>
  <div class="form-group">
    <%= f.label :family %>
    <%= f.collection_select :family_id, Family.all, :id, :name, {}, { class: "form-control", required: true } %>
    <div class="invalid-feedback"></div>
  </div>
  <%= link_to "Back", admin_guests_path, class: "btn btn-outline-secondary" %>
  <%= f.submit "Save", class: "btn btn-outline-primary float-right" %>
<% end %>
