<%= provide(:title, "Wedding | Guests") %>

<%= render 'breadcrumb' %>

<div class="d-flex justify-content-center mt-3">
  <div><h2 class="">Guests</h2></div>
</div>

<div class="row mb-2">
  <div class="col-12 col-md-6">
    <div class="mt-1">
      <div class="btn btn-outline-primary">
        <%= link_to "New", new_admin_guest_path %>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="ml-auto mt-1">
      <div class="input-group">
        <input id="search" type="text" class="form-control" placeholder="Search..." autocomplete="off" data-table="guests-table" data-search-path="<%= admin_guests_path %>" />
        <div class="input-group-append">
          <button class="btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-hashpop="true" aria-expanded="false">Sort</button>
          <div class="dropdown-menu">
            <%= link_to "Name", admin_guests_path(order: "name"), class: "dropdown-item" %>
            <%= link_to "Attending", admin_guests_path(order: "atteding"), class: "dropdown-item" %>
            <%= link_to "Day guest", admin_guests_path(order: "day_guest"), class: "dropdown-item" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="d-flex">
  <table class="table table-striped" id="guests-table">
    <thead>
      <tr>
        <th>Name</th>
        <th class="text-center">Attending</th>
        <th class="text-center d-none d-md-table-cell">Day guest</th>
        <th class="text-center d-none d-md-table-cell">Family</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @guests.each do |guest| %>
        <%= render guest %>
      <% end %>
    </tbody>
  </table>
</div>

<div class="d-flex flex-row justify-content-center" id="pagination">
  <%= bootstrap_will_paginate @guests %>
</div>
