<%= form_for [:admin, @photo], html: { class: "needs-validation", novalidate: true } do |f| %>
  <%= render 'data_field' %>
  <div>
    <%= f.label :url %>
    <%= f.text_field :url, class: "form-control", required: true, autocomplete: "off" %>
    <div class="invalid-feedback"></div>
  </div>
  <%= link_to "Back", admin_families_path, class: "btn btn-outline-secondary" %>
  <%= f.submit "Save", class: "btn btn-outline-primary float-right" %>
<% end %>
