<%= provide(:title, "Wedding | Messages") %>

<%= render 'breadcrumb' %>

<div class="d-flex justify-content-center mt-3">
  <div><h2 class="">Messages</h2></div>
</div>

<div class="row mb-2">
  <div class="col-12 col-md-6">
    <div class="mt-1">
      <div class="btn btn-outline-primary">
        <%= link_to "New", new_admin_message_path %>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="ml-auto mt-1">
      <div class="input-group">
        <%= render 'admin/dashboards/search' %>
      </div>
    </div>
  </div>
</div>
<div class="d-flex">
  <table class="table table-striped" id="items-collection">
    <thead>
      <tr>
        <th>Family</th>
        <th>Content</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @messages.each do |message| %>
        <%= render message %>
      <% end %>
    </tbody>
  </table>
</div>

<div class="d-flex justify-content-center flex-row" id="pagination">
  <%= bootstrap_will_paginate @message %>
</div>

