<%= form_for [:admin, @post], html: { class: "needs-validation", novalidate: true } do |f| %>
  <%= render 'data_field' %>
  <div class="form-group">
    <%= f.label :comment %>
    <%= f.text_field :comment, class: "form-control", autocomplete: "off" %>
    <div class="invalid-feedback"></div>
  </div>
  <%= link_to "Back", admin_posts_path, class: "btn btn-outline-secondary" %>
  <%= f.submit "Save", class: "btn btn-outline-primary float-right" %>
<% end %>
