<%= provide(:title, "Wedding | Posts") %>

<%= render 'breadcrumb' %>

<div class="d-flex justify-content-center mt-3">
  <div><h2 class="">Posts</h2></div>
</div>

<div class="row mb-2">
  <div class="col-12 col-md-6">
    <div class="mt-1">
      <div class="btn btn-outline-primary">
        <%= link_to "New", new_admin_post_path %>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="ml-auto mt-1">
      <div class="input-group">
        <%= render 'admin/dashboards/search' %>
      </div>
    </div>
  </div>
</div>

<div class="d-flex">
  <ul class="list-group" id="items-collection">
    <%= render @posts %>
  </ul>
</div>

<d-flex class="jusitfy-content-center flex-row" id="pagination">
  <%= bootstrap_will_paginate @posts %>
</d-flex>
