<nav>
  <ul class="list-group">
    <li class="list-group-item">
      <div class="d-flex justify-content-center">
        <div class="d-inline"><span class="avatar">W</span></div>
        <div class="d-none d-md-inline nav-link-text">&ensp; Wedding</div>
      </div>
    </li>
    <li class="list-group-item">
      <%= link_to admin_families_path do %>
        <div class="d-flex justify-content-center justify-content-md-start">
          <div class="d-inline"><i class="fas fa-users"></i></div>
          <div class="d-none d-md-inline nav-link-text">&ensp;Families</div>
        </div>
      <% end %>
    </li>
    <li class="list-group-item">
      <%= link_to admin_guests_path do %>
        <div class="d-flex justify-content-center justify-content-md-start">
          <div class="d-inline"><i class="fas fa-user"></i></div>
          <div class="d-none d-md-inline nav-link-text">&ensp;Guests</div>
        </div>
      <% end %>
    </li>
    <li class="list-group-item">
      <%= link_to admin_messages_path do %>
        <div class="d-flex justify-content-center justify-content-md-start">
          <div class="d-inline"><i class="fas fa-envelope"></i></div>
          <div class="d-none d-md-inline nav-link-text">&ensp;Messages</div>
        </div>
      <% end %>
    </li>
    <li class="list-group-item">
      <%= link_to admin_posts_path do %>
        <div class="d-flex justify-content-center justify-content-md-start">
          <div class="d-inline"><i class="fas fa-paper-plane"></i></div>
          <div class="d-none d-md-inline nav-link-text">&ensp;Posts</div>
        </div>
      <% end %>
    </li>
    <li class="list-group-item">
      <%= link_to qrcodes_admin_families_path(format: :pdf) do %>
        <div class="d-flex justify-content-center justify-content-md-start">
          <div class="d-inline"><i class="fas fa-file-pdf"></i></div>
          <div class="d-none d-md-inline nav-link-text">&ensp;Code cards</div>
        </div>
      <% end %>
    </li>
  </ul>
</nav>

<script>
  $(document).ready(function() {
    $("nav ul li").removeClass("link-active");
    $("nav").find("a[href='"+window.location.pathname+"']").closest("li").addClass("link-active")
  });
</script>
