<!DOCTYPE html>
<html>
  <head>
    <title>Wedding</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Parisienne|Source+Sans+Pro" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyDmAktHoD7QrJJ_Kt4J2AMi9MoDSqPsbA4' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield(:head_tags) %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <% if params[:controller].split("/").first == "admin" %>
          <div id="admin-header" class="d-flex justify-content-center flex-row w-100">
            <div class="m-2"><h3>Wedding | 10 mei 2019</h3></div>
          </div>
          <div class="col-1 col-md-2 p-0 mt-2">
            <%= render 'layouts/sidenav' %>
          </div>
        <% end %>
        <div class="col">
          <% if user_signed_in? %>
            <div class="admin-btns">
              <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: 'btn btn-outline-primary float-right mt-2 ml-2' %>
              <% if params[:controller].split("/").first != "admin" %>
                <%= link_to "Admin", admin_families_path, class: "btn btn-outline-primary float-right mt-2" %>
              <% end %>
            </div>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
