<!DOCTYPE html>
<html>
  <head>
    <title>Wedding</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Parisienne|Source+Sans+Pro" rel="stylesheet">
    <%= stylesheet_pack_tag 'application/stylesheets/application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="UTF-8">
    <%= yield(:head_tags) %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col" id="main">
          <div class="mt-2">
            <% if notice %>
              <p class="alert alert-info"><%= notice %></p>
            <% end %>
            <% if flash[:success] %>
              <p class="alert alert-success"><%= flash[:success] %></p>
            <% end %>
            <% if flash[:warning] %>
              <p class="alert alert-warning"><%= flash[:warning] %></p>
            <% end %>
            <% if alert %>
              <p class="alert alert-danger"><%= alert %></p>
            <% end %>
          </div>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
